language: node_js
node_js:
- '0.10'
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- npm install -g grunt-cli
- npm install -g bower
- bower install
- gem install jekyll
- jekyll serve --detach
- sleep 3
script:
- grunt all
after_success:
- grunt submit.coverage
- chmod +x ./deploy-ghpages.sh
- "./deploy-ghpages.sh"
env:
  global:
    secure: HAEIYUKhwQ/e51MdHjhn/Z6AlbzTXRNVXyZyZPeHNkdpb1epMM+a3PvuEQv4mwC7p8aMx0IjCSW2cMWustugMq93HxowipavRI2VUfmA/G5iF8MixbiexZpo2/TR98BZ0FYBFPSidrKUvfRyMSxe6RTX9LmU8ePmZgc6fjfUrWQ=
